@using Bogus
@inject IJSRuntime JS
<div class="container"></div>
<div class="row">
    @foreach (var machine in MachinePark)
    {
        <div class="col-lg-3">
            <fieldset class="@(machine.Online ? "success" : "danger")">
                <legend class="@(machine.Online ? "tsuccess" : "tdanger")">@(machine.Online ? "Online" : "Offline")</legend>
                <div class="card">
                    <div class="card-header text-center">
                        @machine.Name
                    </div>
                    <div class="card-body">
                        <p>Machine Id: <span class="machineId">@machine.Id</span></p>
                        <div class="row">
                            <div class="col-10">
                                <p>Last measured temperature: @(machine.Data)&#176;C</p>
                            </div>
                            <div class="col text-end align-self-start">
                                <button id="update" @onclick="() => FetchTemperature(machine)" data-bs-toggle="tooltip" data-bs-placement="top" title="Update"><i class="fa-solid fa-arrows-rotate"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">

                                <button @onclick="() => Delete(machine)" class="me-1 text-danger"><i class="fa-solid fa-trash fa-xl"></i></button>
                                <button class="me-1"><i class="fa-solid fa-circle-info fa-xl"></i></button>
                            </div>
                            <div class="col text-end align-self-center">
                                <button @onclick="() => OnlineOnOff(machine)"><i class="fa-solid fa-power-off fa-xl"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    }
</div>

@code {

    [Parameter]
    public List<Machine> MachinePark { get; set; } = null!;

    [CascadingParameter]
    public Exercise17.App.Shared.MainLayout Data{ get; set; }

    Faker faker = new Faker();

    public async Task FetchTemperature(Machine machine)
    {
        var newTemp = faker.Random.Number(0, 35);
        machine.Data = newTemp;
        var response = await httpClient.PutAsJsonAsync<Machine>($"api/machines/data/{machine.Id}", machine);

    }


    public async Task OnlineOnOff(Machine machine)
    {
        machine.Online = machine.Online ? false : true;
        var response = await httpClient.PutAsJsonAsync<Machine>($"api/machines/status/{machine.Id}", machine);
        Data.NotifyStateChange();
    }
    private async Task Tooltip()
    {
        await JS.InvokeVoidAsync("test");
    }

    public async Task Delete(Machine machine)
    {
        var response = await httpClient.DeleteAsync($"api/machines/{machine.Id}");

        if(response.IsSuccessStatusCode)
        {
            MachinePark.Remove(machine);
        }
    }

    }

